.cloudhadiServicePortal {
  .tabContainer {
    display: flex;
    justify-content: space-between;
    background-color: #2596be;
    padding: 10px;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 16px;
  }

  .tabIcon {
    margin-right: 8px;
    font-size: 18px;
    vertical-align: middle;
  }

  .activeTab {
    background-color: white;
    color: chocolate;
    border: 2px solid green;
  }

  .activeTab::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: green;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .activeTab:hover::after,
  .activeTab:focus::after {
    transform: scaleX(1);
  }

  .tabContent {
    padding: 10px;
  }
}
